@model IEnumerable<HW17.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Auth Page</h1>

<div class="row">
    <p>
        <a asp-action="SignUp">Sign UP</a>
    </p>
</div>
<div class="row">
    <p>
        <a asp-action="SignIn">Sign IN</a>
    </p>
</div>
